.card-1 {
    border-radius: 16px;
    height: 510px
}

.card {
    height: 360px;
    border-radius: 14px;
}

.copyrights-text {
    color: white;
    font-size: 14px;
    text-align: center;
}

.copyright {
    color: black;
    font-weight: bold;
    border-radius: 40px;
    border-color: black;
    width: 24px;
    height: 24px;
    background-color: white;
    padding-left: 4px;
}

.carousel-control-next-icon {
    outline: grey;
    background-color: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid grey;
}

.carousel-control-prev-icon {
    outline: grey;
    background-color: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid grey;
}

#nav-1 {
    color: white;
}

#nav-2 {
    color: white;
}

#nav-3 {
    color: white;
}

#nav-4 {
    color: white;
}

#nav-5 {
    color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}


.icon {
    font-size: 40px;
}

.project-title {
    font-size: 20px;
}

.footer-section {
    background-color: #041426;
}


.about-p-font {
    font-size: 14px;
}

.nav-name {
    font-size: 18px;
}

.bold-content {
    font-weight: bold;
}

.heading {
    font-size: 28px;
    font-weight: bold;
}

.image {
    width: 100%;

}

.image2 {
    height: 200px;
}

.spe_image {
    height: 140px;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 16px;
    padding-left: 22px;
}



.icon-twitter {
    color: #1DA1F2;
    
}

.icon-instagram {
    color: #E1306C;
}

.icon-linkedin {
    color: #0077B5;
}
